@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: RegularFont;
  src: url(/fonts/Lato/Lato-Regular.ttf);
}


/* ======= global ======= */
body {
  font-family: RegularFont, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}