@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: RegularFont;
  src: url(/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: lightFont;
  src: url(/fonts/Lato/Lato-Light.ttf);
}

/* ======= global ======= */
body {
  font-family: lightFont, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
